.table {
  --table-padding: 10px;
  --table-mb: var(--margin-elements);
  --table-border: 0px solid var(--color-border-1);

  --table-thead-bg-color: rgb(251, 109, 156);
  --table-thead-color: white;

  --table-td-bg-color: white;
  --table-td-color: #444;

  --table-td-bg-color-even: white;
  --table-td-color-even: var(--color-border-1);
}
