.form--simple {
  --form-control-border: 0px;
  --form-mb: var(--margin3);
  --form-label-mb: var(--margin1);
  --form-control-border-radius: 4px;
  --form-control-padding: 4px 10px;
  --form-control-box-shadow: none;
  --form-control-bg: white;
  --form-control-border-hover: 1px solid var(--blue1);
  --form-control-bg-hover: white;

  --form-help-padding: 12px 0;
  --form-help-text-size: 12px;

  --form-icon-size: 32px;
  --form-icon-right: 10px;
  --form-icon-top: 25px;
  --form-select-caret: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDE2IDEwIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgZmlsbD0iIzY2NiI+CiAgICAgICAgICAgIDxnPgogICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgPGc+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0zLjkxNyA4Ljg4TDUuODc1IDcgMTEuNzUgMTIuNjQyIDE3LjYyNSA3LjAwMiAxOS41ODMgOC44ODIgMTEuNzUgMTYuNDAyeiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTU2OSAtMTQ5NikgdHJhbnNsYXRlKDExMiAxMDgxKSB0cmFuc2xhdGUoMjYyIDM5MSkgdHJhbnNsYXRlKDE5MS4xMzUgMTcpIi8+CiAgICAgICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICAgICAgPC9nPgogICAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K');
  --form-select-caret-size: 16px;
  --form-select-caret-position: right 12px center;
  font-family: inherit;
}

.form__control {
  border: 0px;
  border-radius: 4px;
  padding: 20px;
  font-family: inherit;
  .emumodal__body & {
    background: #444;
    color: #fff;
  }
}

.form__group {
  label {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.form__addon {
  border-radius: 0px 4px 4px 0px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateX(-5px);
}
