@import '~getbasecore/src/utils/vars/core_vars.scss';

:root {
  /*
Margin Scale
*/
  --margin1: 0.8rem;
  --margin2: 1.6rem;
  --margin3: 2.4rem;
  --margin4: 3.2rem;
  --margin5: 4rem;
  --margin6: 4.8rem;

  --margin-elements: 3.2rem;
  --margin-components: 18rem;

  // --------------------------------------------------
  //  Icons sizes
  // --------------------------------------------------
  --icon-xl: 56px;
  --icon-lg: 48px;
  --icon-md: 32px;
  --icon-sm: 24px;
  --icon-xs: 16px;

  // --------------------------------------------------
  //  Inputs & Buttons fixed height inside forms
  // --------------------------------------------------
  --input-height-xs: 56px;
  --input-height-sm: 56px;
  --input-height: auto;
  --input-height-lg: 56px;
}
// --------------------------------------------------
// Colors - Global Palette
// --------------------------------------------------

:root {
  --color-success: #99cc33;
  --color-info: #6ea0c6;
  --color-warning: rgba(255, 175, 54, 0.32);
  --color-danger: rgba(255, 54, 54, 0.32);
  --color-disabled: #afafaf;

  // @media (prefers-color-scheme: dark) {
  --color-text-1: #fff;
  --color-text-2: rgba(255, 255, 255, 0.8);
  --color-text-3: rgba(0, 0, 0, 0.8);
  --white: #fff;
  // }
  // @media (prefers-color-scheme: light) {
  //   --color-text-1: #444;
  //   --color-text-2: #444;
  //   --color-text-3: #222;
  //   --white: #444;
  // }

  //BG Colors
  --color-border-1: #e3e3e3;

  @media (prefers-color-scheme: light) {
    --color-bg-1: rgba(34, 29, 45, 0.2);
    --color-bg-2: rgba(34, 29, 45, 0.08);
    --color-bg-3: #999;
  }

  @media (prefers-color-scheme: dark) {
    --color-bg-1: #221d2d;
    --color-bg-2: rgba(34, 29, 45, 0.88);
    --color-bg-3: rgba(34, 29, 45, 0.64);
  }

  --color-placeholder-1: #e3e3e3;
  --color-accordion--hover: #f5f5f5;
}
