.selector-menu {
  display: flex;
  flex-wrap: nowrap;

  &__img {
    margin-right: 20px;
    width: 55vw;
    position: relative;
    img,
    .simple-carousel {
      min-height: 396px;
      &.is-hidden {
        display: none;
      }
    }
    .is-hidden {
      opacity: 0;
      transition: 0.8s;
      pointer-events: none;
    }
  }

  &__options {
    max-width: 100px;
    &--full {
      max-width: 25%;
    }
  }

  &__details {
    margin-left: 40px;
    padding-left: 40px;
    border-left: 1px solid #fff;
    li {
      font-size: 1.8rem;
      margin-bottom: 8px;
    }
  }
}
