.card {
  background: #18181c;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
  height: 100%;
  transition: 0.8s;
  cursor: pointer;
  width: 100%;
  &--mini {
    padding: 10px;
  }

  p {
    flex: 1;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  span,
  ol,
  li,
  p {
    color: #444;
  }

  *:last-child {
    margin-bottom: 0;
  }
  img {
    margin-bottom: 10px;
    opacity: 0.5;
  }

  &.is-selected {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    outline: 2px solid #5bf;
    transition: 0.8s;
    img {
      opacity: 1;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  .card {
    max-width: 20%;
    height: auto;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      word-break: break-word;
      flex: 1;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
    }

    @keyframes fade {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    img.fade {
      border-radius: 10px;
      position: absolute;
      width: calc(100% - 20px);
      top: 10px;
      left: 10px;
      opacity: 0;
    }
    &.is-selected img.fade {
      opacity: 1;
      border-radius: 10px;
      position: absolute;
      animation: fade 5s infinite;
    }
    &:hover img.fade {
      animation: fade 5s infinite;
    }
  }

  &--mini {
    .card {
      max-width: 9.4%;
      padding: 10px;
    }
  }
  &--big {
    .card {
      min-width: 31%;
      padding: 10px;
    }
  }
  &--maxi {
    flex-wrap: nowrap;
    .card {
      position: relative;
      min-width: 45%;
      padding: 10px;
    }
  }
  &--half {
    .card {
      max-width: 28%;
      padding: 10px;
    }
  }
  &--center {
    justify-content: space-between;
  }
}
