.card {
  background: #18181c;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
  height: 100%;
  transition: .8s;
  .btn-simple {
    display: none;
  }
  p {
    flex: 1;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  span,
  p {
    color: #444;
  }

  *:last-child {
    margin-bottom: 0;
  }
  img {
    margin-bottom: 10px;
    opacity: 0.5;
  }

  &.is-selected {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    outline: 2px solid #5bf;
    transition: .8s;
    img {
      opacity: 1;
    }
    .btn-simple {
      display: none;
      animation: none;
      background: #fff;
      color: #444;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  .card {
    max-width: 20%;
    height: auto;
    margin-right: 20px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;

    span {
      flex: 1;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
    }
  }

  &--mini {
    .card {
      max-width: 12%;
    }
  }
}
