.footer {
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: no-drag;
  .btn-simple {
    margin-bottom: 0;
  }
  &--alone {
    padding: 12px;
    background: #444;
  }
  &__comments {
    flex: 1;
    padding-top: 8px;
  }
}

footer.footer .button + .button {
  margin-left: 20px;
}
